:root {
    --main-bg-color: #4CC2FA;
    --light: #D2EAEF;
    --darker-accent: #6AD8F9;
    --lighter-accent: #A1E4F9;
    --highlight: #ECF8B5; 
}
  
@media (min-width: 480px)  { 
    html {
        font-size: 12pt;
    }
}

@media (min-width: 767px)  { 
    html {
        font-size: 15pt;
    }
}

@media (min-width: 1025px) { 
    html {
        font-size: 16pt;
    }
}

h1 {
    background-color: var(--light);
    padding: 0.67em 0 0.67em 0;
    margin: 0;
}

html, body {
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

fieldset {
    display: inline-block;
}

label {
    display: block;
}

section {
    padding: 1em;
    margin: 1em;
    background-color: var(--light);
    border-radius: 1em;
}

embed {
    height: 100vh; 
    width: 100vw;
}

.bold {
    font-weight: bold;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    > * {
        padding: 0.38em;
    }
}

.highlight {
    display: inline-block;
    font-weight: bold;
    background-color: var(--highlight);
    padding: 0.5em;
}

.line-height-1em {
    line-height: 1em;
}

.line-height-2em {
    line-height: 2em;
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-click {
    pointer-events: none;
}

.no-padding {
    padding: 0;
}

.sticky-top {
    position: sticky;
    top: 0px;
    padding: 4px 0px 4px 0px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.75);
}

.text-center {
    text-align: center;
}

input ~ .endorsement-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, margin 0.5s;
    margin: 0;
}

input:checked ~ .endorsement-body {
    max-height: 10em;
    transition: max-height 0.5s, margin 0.5s;;
    margin: 1em 0 1em 0;
}