:root {
    --main-bg-color: #4CC2FA;
    --light: #D2EAEF;
    --darker-accent: #6AD8F9;
    --lighter-accent: #A1E4F9;
    --highlight: #ECF8B5;
  }
  

html, body {
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
}

fieldset {display: inline-block;}

section {
    padding: 1em;
    margin: 1em;
    background-color: var(--light);
    border-radius: 1em;
}

#endorsements input ~ div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, margin 0.5s;
    margin: 0;
}

#endorsements input:checked ~ div {
    max-height: 10em;
    transition: max-height 0.5s, margin 0.5s;;
    margin: 1em 0 1em 0;
}

embed {height: 100vh; width: 100vw;}

.highlight {
    display: inline-block;
    font-weight: bold;
    background-color: var(--highlight);
    line-height: 2em;
    padding: 0 1em 0 1em;
}