<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CFI Endorsements</title>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
        <script src="https://cdn.jsdelivr.net/npm/esprima@4.0.1/dist/esprima.min.js"></script>
        <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="popup box">
                <div class="popup-content"></div>
            </div>
        </div>
        <article id="root">
            <h1 class="text-center">CFI Endorsements per AC 61-65H</h1>
            <form name="frmEndorsements" method="POST">
                <section>
                    <div class="box">
                        <h2 class="padding-none margin-none">CFI/Endorsement Information:</h2>
                        <div class="box">
                            <div class="box">
                                <div class="padding-half">
                                    <label>CFI Name</label>
                                    <input name="txtCfiName" required>
                                </div>
                                <div class="padding-half">
                                    <label>CFI Number</label>
                                    <input name="txtCfiNumber" required>
                                </div>
                            </div>
                            <div class="box">
                                <div class="padding-half">
                                    <label>CFI Expiration Date</label>
                                    <input name="txtCfiExpDate" required>
                                </div>
                                <div class="padding-half">
                                    <label>Signing Date</label>
                                    <input name="txtSigningDate" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <important-dates></important-dates>
                </section>
                <div class="sticky-top">
                    <section class="bold">
                        <div class="box">
                            <span style="padding: 0 var(--half-gap);">1. Please select the checkbox (<input type="checkbox" class="no-click"/>) next to the desired endorsements, or use Quick Fill.</span>
                            <span style="padding: 0 var(--half-gap);">2. Press <button>Render PDF</button> to download your document of endorsements to print.</span>
                            <span style="padding: 0 var(--half-gap);">3. Press <button id="clear-endorsements" type="button">Clear</button> to reset the endorsement selection from.</span>
                        </div>
                    </section>
                </div>
                <section id="quick-fill">
                    <div class="box">
                        <span class="bold">Quick Fill</span>
                    </div>
                    <div class="box">
                        <table>
                            <tr>
                                <td class="leaders">First, Middle Inital &amp; Last Name</td><td><input data-placeholder="First name, MI, Last name"></input></td>
                            </tr>
                            <tr>
                                <td class="leaders">he or she</td>
                                <td>
                                    <select class="w-100p" data-placeholder="he or she">
                                        <option>he</option>
                                        <option>she</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="leaders">Make and Model of Aircraft</td><td><input data-placeholder="make and model"></input></td>
                            </tr>
                        </table>
                    </div>
                    <div class="box">
                        <button type="button" class="margin-half" data-applicable="Student Pilot Airplane" data-quick-select="A.3,A.4,A.6">Student Pilot Solo</button>
                        <button type="button" class="margin-half" data-applicable="Sport Pilot Airplane" data-quick-select="A.1,A.2,A.20,A.23,A.24">Sport Pilot Endorsements</button>
                        <button type="button" class="margin-half" data-applicable="Private Pilot Airplane" data-quick-select="A.1,A.2,A.33">Private Pilot Endorsements</button>
                        <button type="button" class="margin-half" data-applicable="Intrument Pilot Airplane" data-quick-select="A.1,A.2,A.39,A.40">Instrument Pilot Endorsements</button>
                        <button type="button" class="margin-half" data-applicable="Commerical Pilot Airplane" data-quick-select="A.1,A.2,A.35">Commerical Pilot Endorsements</button>
                    </div>
                </section>
                <div id="endorsements"></div>
            </form>
        </article>
    </body>
</html>