<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CFI Endorsements</title>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
        <script src="https://cdn.jsdelivr.net/npm/esprima@4.0.1/dist/esprima.min.js"></script>
        <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    </head>
    <body>
        <modal-dialog></modal-dialog>
        <article id="root">
            <h1 class="text-center">CFI Endorsements per AC 61-65H</h1>
            <form name="frmEndorsements" method="POST">
                <section>
                    <div class="box">
                        <h2 class="padding-none margin-none">CFI/Endorsement Information:</h2>
                        <div class="box">
                            <div class="box">
                                <div class="padding-half">
                                    <label>CFI Name</label>
                                    <input name="txtCfiName" required>
                                </div>
                                <div class="padding-half">
                                    <label>CFI Number</label>
                                    <input name="txtCfiNumber" required>
                                </div>
                            </div>
                            <div class="box">
                                <div class="padding-half">
                                    <label>CFI Expiration Date</label>
                                    <input name="txtCfiExpDate" required>
                                </div>
                                <div class="padding-half">
                                    <label>Signing Date</label>
                                    <input name="txtSigningDate" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <important-dates></important-dates>
                </section>
                <div class="sticky-top">
                    <section class="bold">
                        <div class="box">
                            <span style="padding: 0 var(--half-gap);">1. Please select the checkbox (<input type="checkbox" class="no-click"/>) next to the desired endorsements, or use Quick Fill.</span>
                            <span style="padding: 0 var(--half-gap);">2. Press <button>Render PDF</button> to download your document of endorsements to print.</span>
                            <span style="padding: 0 var(--half-gap);">3. Press <button id="clear-endorsements" type="button">Clear</button> to reset the endorsement selection from.</span>
                        </div>
                    </section>
                </div>
                <quick-select></quick-select>
                <div id="endorsements"></div>
            </form>
        </article>
    </body>
</html>